* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: myFirstFont;
  src: url(../fonts/AmaticSC-Regular.ttf);
}
input[type="checkbox"] {
  cursor: pointer;
}
input[type="checkbox"]:checked ~ * {
  --back-ground1: #212020;
  --back-ground2: #3d3b3b;
  --text-color: #fff;
  --text-dark-color: #c0bbbb70;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --text-shadow: 2px 2px 1px rgba(227, 210, 210, 0.284);
  color: #eee;
}

:root {
  --back-ground1: #fff;
  --back-ground2: #eee;
  --text-color: #000;
  --text-dark-color: #00000070;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 120%;
  --text-shadow: 2px 2px 1px rgba(128, 128, 128, 0.284);
}

.dark {
  position: fixed;
  right: 5%;
  top: 0%;
  z-index: 9999;
  width: 5%;
  height: 10vh;
  opacity: 0;
}
.dark-light-mode img {
  width: 30%;
}

html {
  scroll-behavior: smooth;
}
nav {
  height: 10vh;
  width: 100%;
  padding: 0 5%;
  z-index: 999;
  display: flex;
  box-shadow: 2px 2px 10px gray;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: var(--back-ground1);
}
.logo {
  width: 30%;
}
.logo a {
  color: var(--text-color);
}
.dark-light-mode {
  width: 20%;
  text-align: right;
}
.nav-menue {
  width: 30%;
}
.nav-menue ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.logo span {
  color: red;
}
.nav-menue li {
  position: relative;
  overflow: hidden;
}
.move {
  position: absolute;
  border-bottom: 3px solid red;
  width: 100%;
  bottom: 0;
  left: -100%;
  transition: left 0.5s;
}
.nav-menue ul li :hover .move {
  left: 0;
}
.red {
  color: var(--text-dark-color);
}
.nav-menue ul li :hover .red {
  color: var(--text-color);
}
:has(.home:target) .get-home .red {
  color: var(--text-color);
  font-weight: 700;
  text-shadow: var(--text-shadow);
}
:has(.cheefs:target) .get-cheefs .red {
  color: var(--text-color);
  font-weight: 700;
  text-shadow: var(--text-shadow);
}
:has(.gallery:target) .get-gallery .red {
  color: var(--text-color);
  font-weight: 700;
  text-shadow: var(--text-shadow);
}
:has(.contact:target) .get-contant .red {
  color: var(--text-color);
  font-weight: 700;
  text-shadow: var(--text-shadow);
}

header {
  width: 100%;
  background-color: var(--back-ground2);
  padding: 10% 5% 5% 5%;
}
.header-content {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro {
  width: 30%;
}
.intro h3 {
  font-family: myFirstFont;
  text-transform: uppercase;
  font-size: 300%;
  font-weight: 700;
  margin-bottom: 5vh;
}
.intro p {
  font-weight: 400;
  margin-bottom: 5vh;
}
.intro-img {
  text-align: center;
  width: 40%;
}

.intro button {
  width: 35%;
  height: 7vh;
}
.btn-1 {
  box-sizing: initial;
  background-color: #ce1212;
  color: #eee;
  border: none;
  border-radius: 0px 100vh 100vh;
}
.btn-1:hover {
  background-color: #ef4646;
}
.btn-2 {
  position: relative;
  left: 20%;
  width: 40%;
  height: 7vh;
}
.btn-2:hover {
  color: #ef4646;
}
.intro-img img {
  width: 100%;
  filter: drop-shadow(10px 10px 10px gray);
}
.intro-img img:hover {
  animation-name: move-ment;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes move-ment {
  0% {
    transform: rotate(0deg);
    transform: translateX(2px);
  }
  25% {
    transform: translateX(4px);
    transform: rotate(3deg);
  }
  50% {
    transform: translateX(-1px);
    transform: rotate(0deg);
  }
  75% {
    transform: translateX(-4px);
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
    transform: translateX(2px);
  }
}

.cheefs {
  width: 100%;
  background-color: var(--back-ground1);
}
.container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.high-lighn {
  margin-bottom: 5%;
}
.high-lighn h4 {
  color: var(--text-dark-color);
}
.high-lighn h3 {
  font-family: myFirstFont;
  text-transform: uppercase;
  font-size: 300%;
  font-weight: 700;
}
.high-lighn h3 span {
  color: red;
}
.items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item {
  width: calc(100% / 3-2%);
  margin: 1%;
  border-radius: 2%;
  background-color: var(--back-ground2);
  box-shadow: 5px 5px 5px gray;
  transition: transform 0.5s;
}
.item img {
  width: 100%;
  border-radius: 2%;
}
.image-container {
  position: relative;
  overflow: hidden;
}
svg {
  position: absolute;
  top: 78%;
  left: 0;
  box-shadow: 1px 1px 8px rgb(225, 222, 222);
}
.side-bar {
  width: 15%;
  height: 40%;
  border-radius: 7% 7% 7% 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1%;
  top: 20%;
  right: -15%;
  flex-direction: column;
  background-color: rgba(173, 164, 164, 0.514);
  transition: right 1s;
}
.side-bar a img {
  width: 60%;
  text-align: center;
  transition: transform 0.5s;
}
.side-bar a img:hover {
  transform: scale(1.1);
  filter: invert(1);
}
.item-1:hover {
  transform: scale(1.05);
}

.item-2:hover {
  transform: scale(1.05);
}
.item-3:hover {
  transform: scale(1.05);
}
.item-1:hover .side-bar {
  right: 4%;
}
.item-2:hover .side-bar {
  right: 4%;
}
.item-3:hover .side-bar {
  right: 4%;
}

.pading {
  padding: 5%;
}
.gallery {
  padding: 1% 0;
  margin-bottom: 1% 0;
  width: 100%;
  background-color: var(--back-ground2);
}
.unorder-img {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.width {
  width: calc(100% / 3 - 2%);
}
.margin {
  margin: auto;
  margin-bottom: 5%;
  border: 5px solid white;
  position: relative;
  overflow: hidden;
}
.layer {
  background-color: #3d3b3bb5;
  color: #eee;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(200vh);
  transition: transform 0.5s;
}
.prety:hover .layer {
  transform: translatey(0vh);
}
.prety-1:hover .layer {
  transform: translatey(0vh);
}
.prety-2:hover .layer {
  transform: translatey(0vh);
}
.prety-3:hover .layer {
  transform: translatey(0vh);
}
.prety-4:hover .layer {
  transform: translatey(0vh);
}
.prety-5:hover .layer {
  transform: translatey(0vh);
}
.prety-6:hover .layer {
  transform: translatey(0vh);
}
.unorder-img img {
  width: 100%;
}
.contact {
  width: 100%;
  background-color: var(--back-ground1);
  color: #000;
}
.map {
  height: 50vh;
}
.contact-0 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.inner {
  padding: 0.8%;
  width: 50%;
  background-color: var(--back-ground1);
}
.flex {
  background-color: var(--back-ground1);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 15vh;
  align-items: center;
  box-shadow: 1px 1px 8px gray;
}
.inner img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ce1212;
  margin-left: 1%;
}
.form {
  background-color: var(--back-ground2);
  width: 100%;
  box-shadow: 1px 1px 8px gray;
}
form {
  width: 100%;
}
.label-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label-1 input {
  width: 45%;
  height: 8vh;
  border: 3px solid #ebe6e6;
  box-shadow: 1px 1px 6px gray;
  padding-left: 1%;
}
.label-2 {
  width: 100%;
  height: 8vh;
  margin-top: 2%;
}
.label-2 input {
  width: 100%;
  height: 100%;
  border: 3px solid #ebe6e6;
  box-shadow: 1px 1px 6px gray;
  padding-left: 1%;
}
.text-area {
  width: 100%;
  margin-top: 2%;
}
.text-area textarea {
  width: 100%;
  border: 3px solid #ebe6e6;
  min-height: 20vh;
  resize: vertical;
  box-shadow: 1px 1px 6px gray;
  padding-left: 1%;
}
form button {
  border: none;
  width: 20%;
  height: 7vh;
  margin: 4% auto 2%;
  background-color: #ce1212;
  cursor: pointer;
  box-shadow: 1px 1px 6px gray;
}
form button:hover {
  background-color: #7c1111;
}
footer {
  background-color: black;
  width: 100%;
}
.cont-foot {
  width: 90%;
  color: #eee;
  display: flex;
  margin: auto;
  padding: 5% 0;
}
.social-media {
  width: 25%;
}
.img-cont {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5%;
}
.img-cont img {
  width: 15%;
}
.social-media p {
  padding-top: 5%;
}
.social-media h3 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid gray;
  padding: 5% 0;
}
.icons {
  width: 100%;
  padding: 5% 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.icons img {
  width: 50%;
  filter: invert(1);
}
.subscribe {
  width: 50%;
  padding: 2% 2%;
}
.sent {
  width: 100%;
  display: flex;
  padding: 5% 0;
}
.sent input {
  width: 75%;
  border: none;
  margin-right: 5% 5%;
  height: 5vh;
}
.sent button {
  width: 25%;
  margin-left: 5%;
  height: 5vh;
  border: none;
  background-color: #ce1212;
}
.sent button:hover {
  background-color: #d80c0c;
}
.subscribe ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.subscribe ul div {
  width: 50%;
  overflow: hidden;
}
.subscribe ul div li {
  margin-top: 2%;
  cursor: pointer;
  transition: transform 0.5s;
}
.subscribe ul div li:hover {
  background-color: #3d3b3b70;
  transform: translateX(2vh);
}
.get-in-touch {
  width: 25%;
  margin: 2.5% 0;
}
.get-in-touch div {
  width: 100%;
}
.get-in-touch img {
  width: 7%;
  filter: invert(1);
  margin-right: 2%;
}
.get-in-touch div a {
  display: flex;
  align-items: center;
  margin-top: 2%;
  color: #ebe6e6;
}
@media screen and (max-width: 900px) {
  header .header-content {
    display: flex;
    flex-wrap: wrap;
  }
  header .intro {
    width: 100%;
    margin-top: 10%;
    text-align: center;
    order: 1;
  }
  header .intro-img {
    width: 100%;
    margin-top: 5%;
  }
  .btn-2 {
    left: 5%;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .item {
    width: 80%;
  }
  .unorder-img {
    display: flex;
    flex-wrap: wrap;
  }
  .column-1 {
    width: 100%;
  }
  .column-2 {
    width: 100%;
  }
  .column-3 {
    width: 100%;
  }
  .cont-foot {
    display: flex;
    flex-wrap: wrap;
  }
  .social-media {
    width: 100%;
    order: -2;
  }
  .subscribe {
    width: 100%;
  }
  .get-in-touch {
    width: 100%;
    order: -1;
  }
  .map {
    height: 20vh;
    margin: auto;
  }
  .contact-0 {
    display: flex;
    flex-wrap: wrap;
  }
  .inner {
    width: 100%;
  }
  .nav-menue{
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    height: 100vh;
top:15%;
right: 0;
z-index: 9999999999;
background-color: gray;
  }
  .nav-menue ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  }
  .nav-menue ul li{
  width: 100%;
  color: black;
  text-align: center;
  }
}

